<header class="header">
    <ul class="nav">
        <li class="nav__item">
            <a class="nav__link" [routerLink]="homeRoute">
                <span>Clutch</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" 
                [routerLink]="companyRoute"
                [queryParams]="{
                    link : dotnetLink, 
                    mark : 5, 
                }"
                (click)="onPageChange(dotnetLink, 5)">
                .NET
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" 
            [routerLink]="companyRoute"
            [queryParams]="{
                link : ecomLink,
                mark : 5, 
            }" (click)="onPageChange(ecomLink, 5)">Ecommerce</a>
        </li>
    </ul>
</header>
