<form method="post" class="filter"  [routerLink]="route"
    [formGroup]="filterForm" (submit)="submitFilter()">
    <input class="filter__mark" placeholder="Input maximum mark"
        type="number" formControlName="mark" (input)="validateMark()">
    <div class="row gap center space">
        <input type="checkbox" class="filter__reviewed"
            value="Include not reviewed companies">
        <label for="filter__reviewed">Include not reviewed companies</label>
    </div>
    <select class="filter__location" formControlName="location">
        <ng-container *ngFor="let location of locations; let first = first">
            <option *ngIf="location === first" selected
                [value]="location.link" class="filter__location__item">
                {{location.name}}
            </option>
            <option *ngIf="location !== first"
                [value]="location.link" class="filter__location__item">
                {{location.name}}
            </option>
        </ng-container>
    </select>
    <button type="submit" class="filter__btn">Filter</button>
</form>