<navbar (pageChange)="onPageChange($event)" 
    [dotnetLink]="dotnet" [ecomLink]="ecom"></navbar>

<article class="company" *ngIf="page">

    <div *ngIf="sidebarVisible" class="company__sidebar">
        <div class="row gap center space">
            <h3 class="company__sidebar__title center">Company filter</h3>
            <button class="close" (click)="onFilterClick()">
                <img class="close__img" src="../../../../../assets/page/close.png" 
                    srcset="../../../../../assets/page/close.png">
            </button>
        </div>
        <company-sidebar [locations]="locLinks" [mark]="mark" 
            (submit)="onPageChange($event)"></company-sidebar>
    </div>

    <div>

        <h1 class="company__title space">{{page.title}}</h1>

        <div class="space row center gap">
            <button class="company__filter" (click)="onFilterClick()">Filter</button>
        </div>
        <h2 class="company__subtitle space">
            {{subtitle}}
        </h2>
    
        <div *ngIf="page.companies.length > 0">
            <company-list [companies]="page.companies"></company-list>
        </div>

        <div *ngIf="page.companies.length === 0">
            <company-not-found></company-not-found>
        </div>
        
        <pagination class="space"
            [mark]="mark"
            [startPage]="page.startPage"
            [previousPage]="page.previousPage"
            [currentPage]="page.currentPage"
            [nextPage]="page.nextPage"
            [lastPage]="page.lastPage"
            (pageChange)="onPageChange($event)">
        </pagination>

    </div>
    

</article>